<template>
<div>
    <h1>Ventas</h1>
    <p>con router info</p>
    
    <router-link to="colaborador">Ir a colaborador </router-link>
    <router-link to="/">Ir a sistema </router-link>
    <br>
    <br>
    <span></span>

    
</div>
    
</template>