<template>
  <div id="app">
    <Clase></Clase>
      <Clase></Clase>

  </div>
</template>

<script>

import Clase from './components/Clase.vue'
export default {
  name: 'app',
  components: {
    Clase
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
