<template>
<div id="home">
  <div class="home">
    <h1>Inventario</h1>
    <el-tabs type="border-card" class="fondo" stretch=True>
      <el-tab-pane>
        <span slot="label"><i class="el-icon-menu">Productos</i></span>
      <el-table :data="inventario.filter(data => !buscar || data.nombre.toLowerCase().includes(buscar.toLowerCase()))" style="width: 50%">
        <el-table-column label="ID" prop="id" width="150"></el-table-column>
        <el-table-column label="Nombre" prop="nombre" width="200  "></el-table-column>
        <el-table-column type="expand">
        <template slot-scope="props">
        <img :src="props.row.img" height="250">
        <p>Descripción: {{ props.row.descrip }}</p>
        <p>Precio: {{ props.row.precio }}</p>
        </template>
        </el-table-column>
        <el-table-column>
        <template slot="header">

        <el-input v-model="buscar" size="mini" placeholder="busqueda"/>
    
        </template>
        </el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane>
        <span slot="label"><i class="el-icon-document-add">Agregar</i></span>
         <el-form ref="formulario" :model="formulario" label-width="120px">
          <el-form-item label="ID">
            <el-input v-model="formulario.id"></el-input>
          </el-form-item>
          <el-form-item label="Nombre">
            <el-input v-model="formulario.nombre"></el-input>
          </el-form-item>
          <el-form-item label="precio">
            <el-input v-model="formulario.precio"></el-input>
          </el-form-item>
          <el-form-item label="imagen" >
            <el-input v-model="formulario.img"></el-input>
          </el-form-item>
          <el-form-item label="Descripcion">
            <el-input v-model="formulario.descrip"></el-input>
          </el-form-item>
          <el-form-item v-if="validar">
            <el-button type="primary" @click="agregar">Agregar</el-button>
          </el-form-item>
        </el-form>

      </el-tab-pane>
    </el-tabs>
  </div>
</div>
</template >

<script>
// @ is an alias to /src

export default {
  name: "home",
  components: {},
  data(){
    return{
      inventario:[
        {id:136, nombre: 'God of War', precio:59.99,img:'https://media.gamestop.com/i/gamestop/10131619/God-of-War?$pdp$',descrip:'Un comienzo totalmente nuevo Su venganza contra los dioses del Olimpo ha quedado atrás y Kratos ahora vive como un hombre en las tierras de los dioses y monstruos nórdicos. Será en este mundo crudo y sin piedad donde deberá luchar para sobrevivir... y donde deberá enseñar a su hijo a hacer lo mismo.'},
        {id:693, nombre: 'Far Cry 5', precio:59.99,img:'https://i11d.3djuegos.com/juegos/14863/far_cry_5__nombre_provisional_/fotos/ficha/far_cry_5__nombre_provisional_-3996927.jpg',descrip:'Bienvenido a Hope County, Montana, la tierra de los valientes y de la libertad, pero también de la secta apocalíptica conocido camo "Puerta del Edén."'},
        {id:128, nombre: 'Dragon Ball Fighter Z',precio:59.99,img:'https://i11b.3djuegos.com/juegos/14975/dragon_ball_fighters/fotos/ficha/dragon_ball_fighters-3918389.jpg',descrip:'Experimenta combos aéreos, escenarios destruibles y escenas famosas del anime DRAGON BALL. DRAGON BALL FighterZ aprovecha al máximo los gráficos del anime y calidad superior.'}
      ],
      buscar: '',
      info: {},
      formulario: {
        id:"",
        nombre: "",
        precio: "",
        img:"",
        descrip:""
      }
    }
  },
  methods: {
    agregar: function() {
      this.inventario.push(this.formulario);
      this.formulario = {};
    }
  },
  computed: {
    validar() {
      return this.formulario.nombre != "" && this.formulario.precio > 0 && this.formulario.img !="" && this.formulario.descrip !="" && this.formulario.id>0;
    }
  }

};
</script>

<style>
 #home{
   font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #951030;
   }

</style>
