<template>
  <div class="home">
    <h1>INVENTARIO</h1>
    <el-row>
      <el-col :span="12" class="col">
        <h2>PRODUCTO</h2>

        <el-table 
        :data="lista"
        style="width: 100%">
          
          <el-table-column label="nombre">
              
          </el-table-column>
        </el-table>
      </el-col>
      <el-col :span="12" class="col2">
        <h2></h2>
      </el-col>

    </el-row>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'home',
  components: {
    
  }
}
</script>
<style lang="css">
    .col{
      background-color:darkred;
      min-height: 500px ;
    }
    .col2{
      background-color:darkblue;
      min-height: 500px ;
    }
</style>
