<template>
<div class="detalles">
    <el-table :data=detalles style="width: 100%">
          <el-table-column prop="nombre" label="Nombre" width="800"></el-table-column>
          <el-table-column type="expand">
              <template slot-scope="props">
                  <img :src="props.row.img" height="250">
                  <p>Autor: {{props.row.autor}}</p>
                  <p>Fecha de lanzamiento: {{props.row.fecha}}</p>
                  <p>generos: {{props.row.genero}}</p>
              </template>
          </el-table-column>

    </el-table>
</div>
</template>
<script>
export default {
    name:'detalles',
    data(){
        return{
            detalles:[
                {nombre:"Dragon Ball",autor: 'Akira Toriyama',fecha:1989,img:'https://animeflv.net/uploads/animes/covers/509.jpg',genero:"Artes Marciales, Aventuras, Comedia, Fantasía, Shounen, Superpoderes"},
                {nombre:"One piece",autor: 'Eiichirō Oda',fecha:1999,img:'https://areajugones.sport.es/wp-content/uploads/2019/09/OnePiecePoster.jpg',genero:"Acción, Aventuras, Comedia, Drama, Fantasía, Shounen, Superpoderes"},
                {nombre:"Naruto",autor: 'Masashi Kishimoto',fecha:2002,img:'https://animeblix.com/uploads/2019/02/0303170.241988001550113397_l.jpg',genero:"Artes Marciales, Aventuras, Comedia, Fantasía, Shounen, Superpoderes"}, 
                {nombre:"Black Clover",autor: 'Yūki Tabata',fecha:2017,img:'https://animeflv.net/uploads/animes/covers/2806.jpg',genero:"Acción, Comedia, Fantasía, Magia, Shounen"}
            ]
        }
    }
}
</script>