<template>
  <div class="home">
    <el-container class="home">
      <el-header>
        <h1>Anime</h1>
      </el-header>
      <el-main>
        <center>
          <el-table :data=lista style="width: 100%">
          <el-table-column prop="nombre" label="Nombre" width="180"></el-table-column>
          <el-table-column prop="fecha" label="Fecha de lanzamiento" width="180"></el-table-column>
          <el-table-column
            prop="estado"
            label="Estado"
            width="100"
            :filters="[{ text: 'Finalizado', value: 'Finalizado' }, { text: 'en emision', value: 'en emision' }]"
            :filter-method="filterTag"
            filter-placement="bottom-end">
          <template slot-scope="scope">
          <el-tag
            :type="scope.row.estado === 'Finalizado' ? 'primary' : 'success'"
            disable-transitions>{{scope.row.estado}}</el-tag>
          </template>
          </el-table-column>
        </el-table>
        </center>
        
      </el-main>
    </el-container>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'home',
  components: {},
  data(){
    return{
      lista:[
        {nombre:"Dragon Ball",fecha:1989,estado:'Finalizado'},
        {nombre:"One piece",fecha:1999,estado:'en emision'},
        {nombre:"Naruto",fecha:2002,estado:'Finalizado'}, 
        {nombre:"Black Clover",fecha:2017,estado:'en emision'}       
      ],

    }
  },
  methods: {
     
      filterTag(value, row) {
        return row.estado === value;
      },
      filterHandler(value, row, column) {
        const property = column['property'];
        return row[property] === value;
      },
      
    }
}
</script>
