<template>
    <div>
        <h1>creando mi primer componente</h1>
        <h2>{{ nombre }}</h2>
        <input type="text" placeholder="Nombre" v-model="nombre"/>
    </div>
    
</template>
<script>
export default {
    name: "clase",
    data(){
        return{
            nombre:" Mi componente"
        }
    }
    
}
</script>

<style>

</style>