<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calculadora de formas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body background="src/imagenes/fondo2.jpg">
    
    <div class="container" id="app">
      <div class="col-md-12">
        <font face="Hanoded">
        <center>
        <h1 class="display-2">Calculadora de formas</h1>
        <h2 class="display-3">Circulo</h2>  
        <img src="src/imagenes/circulo.jpg" height="300"/>
        <br>
        <br>
        <input type="number" placeholder="Radio" v-model.number="r">
        <br>
        <h2>Area: </h2>
        <br>
        <span class="alert alert-success"> {{ resultado }} </span>
        </center>
        </font>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
            new Vue ({
              el: '#app',
              data:{
                r:null,
                pi:3.1416
              },
                computed:{
                  resultado(){
                    return Math.pow(this.r,2)*this.pi
                  },
                }
            })
            </script>
</body>
</html>