<template>
<div>
    <h1>Catalogo</h1>
    <h3>Filtros</h3>
    <el-select v-model="value" clearable placeholder="Tipo">
    <el-option
      v-for="item in tipos"
      :key="item.value"
      :label="item.label"
      :value="item.value">
    </el-option>
  </el-select>
  <el-select v-model="value" clearable placeholder="Genero">
    <el-option
      v-for="item in genero"
      :key="item.value"
      :label="item.label"
      :value="item.value">
    </el-option>
  </el-select>
  <router-link to="formulario">
  <el-button type="info" round icon="el-icon-circle-plus" >Agregar</el-button>
  </router-link>
    <div>
        <el-row :gutter="18">
           <el-dialog :visible.sync="idialogTableVisible" :before-close="cerrar">
              <h2 v-if="idato.nombre"> {{idato.nombre}} </h2>
                <img :src="idato.imagen" class="img" />
                <p>autor: {{idato.autor}}</p>
                <p>año de lanzamiento: {{idato.año}}</p>
                <p>genero: {{idato.generos}}</p>
                <p>estado: {{idato.estado}}</p>
                <p >cantidad de episodios: {{idato.episodios}}</p>
                <p>tipo: {{idato.tipo}}</p>
                <p>{{idato.sinopsis}}</p>              
            </el-dialog>
        <el-col :span="6" v-for="(dato,index) in datos" :key="dato.nombre" :offset="index > 1 ? 0 : 1">
          <div v-if="value === ''">
                        <el-card class="margen"> 
            <h2>{{ dato.nombre }}</h2>
          <div>
            <img :src="dato.imagen" class="img" />
            <br>
            <br>
            <el-tag v-if="dato.tipo === 'anime'"
            type="danger"
            effect="dark">
            {{ dato.tipo }}
            </el-tag>
            <el-tag v-if="dato.tipo === 'pelicula'"
            type="success"
            effect="dark">
            {{ dato.tipo }}
            </el-tag>
            <el-tag v-if="dato.tipo === 'especial'"
            type="warning"
            effect="dark">
            {{ dato.tipo }}
            </el-tag>
            <br>
            <br>
            <el-button type="info" icon="el-icon-s-opportunity" @click="mostrar(dato)"  circle ></el-button>
          </div>
           
        </el-card>
        </div>
        <div v-else-if="value === dato.tipo">
                      <el-card class="margen"> 
            <h2>{{ dato.nombre }}</h2>
          <div>
            <img :src="dato.imagen" class="img" />
            <br>
            <br>
            <el-tag v-if="dato.tipo === 'anime'"
            type="danger"
            effect="dark">
            {{ dato.tipo }}
            </el-tag>
            <el-tag v-if="dato.tipo === 'pelicula'"
            type="success"
            effect="dark">
            {{ dato.tipo }}
            </el-tag>
            <el-tag v-if="dato.tipo === 'especial'"
            type="warning"
            effect="dark">
            {{ dato.tipo }}
            </el-tag>
            <br>
            <br>
            <el-button type="info" icon="el-icon-s-opportunity" @click="mostrar(dato)"  circle ></el-button>
          </div>
        </el-card>
        </div>
        <div v-else-if="value === dato.generos">
                    <el-card class="margen"> 
            <h2>{{ dato.nombre }}</h2>
          <div>
            <img :src="dato.imagen" class="img" />
            <br>
            <br>
            <el-tag v-if="dato.tipo === 'anime'"
            type="danger"
            effect="dark">
            {{ dato.tipo }}
            </el-tag>
            <el-tag v-if="dato.tipo === 'pelicula'"
            type="success"
            effect="dark">
            {{ dato.tipo }}
            </el-tag>
            <el-tag v-if="dato.tipo === 'especial'"
            type="warning"
            effect="dark">
            {{ dato.tipo }}
            </el-tag>
            <br>
            <br> 
            <el-button type="info" icon="el-icon-s-opportunity" @click="mostrar(dato)"  circle ></el-button>
          </div>
        </el-card>
        </div>
</el-col>
</el-row> 
</div>
</div>
</template>


<script>
import {db} from '../services/firebase'


export default {
   components: {
    
  },
 data(){
     return{
         datos:[],
         temp:""    ,
         dialogTableVisible:false,
        tipos:[{
          value:'anime',
          label:'Anime'
        },{
          value:'pelicula',
          label:'Pelicula'
        },
        {
          value:'especial',
          label:'Especial'
        }],
        genero:[{
          value:'accion',
          label:'Accion'
        },
        {
          value:'aventura',
          label:'Aventura'
        },
        {
          value:'romance',
          label:'Romance'
        },
        {
          value:'deportes',
          label:'Deportes'
        },
        {
          value:'mecha',
          label:'Mecha'
        }],
        value: '',
        value2:'',
        idato:{},
        idialogTableVisible:false
     }
 },
 created() {
    // Traer datos de firebase 
    this.get()
  },
  methods: {
      get (){
        //eslint-disable-next-line no-console
      console.log("Ejecutando")
      // Obtener información
      db.ref('/Proyecto_final/lista/').once('value')
      .then( res => {
        this.datos = res.val()
        //eslint-disable-next-line no-console
        console.log(" Con datos. ", this.datos)
      })
      .catch( error => {
        //eslint-disable-next-line no-console
         console.log("Error sin datos ",error)
      })
    },
    mostrar:function(dato){
      this.temp=dato.nombre
      this.dialogTableVisible=true

      //
      this.idialogTableVisible =  true
      this.idato = dato
      return(this.temp,this.dialogTableVisible)
    },
    cerrar:function(){
      this.idialogTableVisible=false
    }
  }
}
</script>
<style scoped>
.img{
    height: 250px;
    width: 200px;
}
h1,h3{
    color: white
}
.margen{
  background-color:#BDBDBD;
    margin: 50px;
    width: 350px;
    height: 500px;
}
#input{
  width: 400px;
}
</style>