<template>

  <div class="registro">
    <h2>Nombre: </h2>
    <el-input v-model="nombre" id="el-input"></el-input>
    <h2>Correo: </h2>
    <el-input v-model="correo" id="el-input"></el-input>
    <h2>Contraseña</h2>
    <el-input v-model="contrasena" show-password id="el-input"></el-input>
    <el-button @click="goClick"> registrar </el-button>
  </div>
</template>

<script>
// @ is an alias to /src
import { db } from '../services/firebase.js'

export default {
  name: 'home',
  data() {
    return {
      nombre: '',
      correo:'',
      contrasena:''
    }
  },
  
  methods: {
    goClick (){
      // Guardar información
      //eslint-disable-next-line no-console
      console.log("Ejecutando")
      db.ref("Proyecto_final/usuarios/"+this.nombre)
      .set({nombre: this.nombre,correo:this.correo,contraseña:this.contrasena})
      .then( () => {
        //eslint-disable-next-line no-console
        console.log(" Guardo los datos ");
        this.get();
        this.nombre = "";
        this.correo = "";
        this.contrasena = "";
        this.$router.push('home')
      })
      .catch( error => {
              //eslint-disable-next-line no-console
         console.log("Error al guardar ",error)
      })
    },
  }
}
</script>
<style>
#el-input{
  width: 400px;
}
</style>