<template>
  <div class="home">
    <h1> Pagina principal </h1>
    <input type="text" v-model="name">
    <button @click="goClick"> Guardar </button>

    <ul>
      <li v-for="item in datos" :key="item.id">{{item.id}}</li>
    </ul>
  </div>
</template>

<script>
// @ is an alias to /src
import {nameRef, db } from './firebase'

export default {
  name: 'home',
  data() {
    return {
      name: '',
      datos: []
    }
  },
  created() {
    // Traer datos de firebase 
    this.get()
  },
  methods: {
    goClick (){
      // Guardar información
      console.log("Ejecutando")
      //nameRef.push({ id: this.name})
      db.ref("nombres/"+this.name)
      .set({id: this.name})
      .then( res => {
        console.log(" Guardo los datos ");
        this.get();
        this.name = "";
      })
      .catch( error => {
         console.log("Error al guardar ")
      })
    },
    get (){
      console.log("Ejecutando")
      // Obtener información
      nameRef.once('value')
      .then( res => {
        this.datos = res.val()
        console.log(" Con datos. ", this.datos)
      })
      .catch( error => {
         console.log("Error sin datos ")
      })
    }
  }
}
</script>
