<template>
<div>
    <div>
        <h1>Inventario</h1>
    </div>
    <div>
        <h4>Crear producto</h4>
        <input placeholder="Nombre" v-model="item.nombre">
        <input placeholder="Precio" v-model="item.precio">
        <input placeholder="Description" v-model="item.description">
        <input placeholder="imagen" v-model="item.imagen">
        <input placeholder="categoria" v-model="item.categoria">
        <button @click="guardar">Guardar</button>
     </div>
     <div>
         <h3>Listado de productos</h3>
         <div v-for="producto in productos" :key="producto.nombre">
             <img :src="producto.imagen" width="200" height="200">
             <br>
             <span>{{producto.nombre}}</span>
         </div>
     </div>
     <div class="fondo">
         <h2></h2>
         <info/>
     </div>
    </div>
</template>
<script>
import info from './Producto'
export default{
    components:{info},
    data(){
        return{
            item:{
                nombre:'',
                precio:0,
                description:'',
                imagen:"",
                categoria:0
            },
            productos:[],
            

        };
    },
    methods:{
        guardar(){
            this.productos.push(this.item)
        }
    }

}
</script>
<style>
.fondo{
    background-color : yellowgreen  
}
</style>