<template>
    <div>
        <h3>Detalle del producto</h3>
        <ol>
            <ul>Nombre: {{info.nombre}}</ul>
            <ul></ul>
        </ol>
    </div>
</template>
<script>
export default {
    props:{ info:Object }
}
</script>